html {
    margin: auto;
}

body {
    width: 450px;
    text-align: center;
    background-color: #31403d;
    color: lightgreen;
}

a {
    color: lightgreen;
}

button {
    background-color: yellow;
    color: rgb(81, 5, 5);
    font-weight: bold;
    height: 35px;
    width: 130px;
    border: hidden;
}

#result {
    font-weight: bold;
    color: yellow;
    font-size: xx-large;
}

.grid {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 450px;
    background-color: rgb(201, 249, 201);
}

.grid div {
    height: 50px;
    width: 50px;
}

.ending-block {
    background-image: url("images/lotus.png");
    background-size: cover;
}

.starting-block {
    background-image: url("images/pebbles.png");
    background-size: cover;
}

.c1 {
    background-image: url("images/car.png");
    background-size: cover;
}

.c2, .c3 {
    background-color: gray;
}

.l1, .l2, .l3 {
    background-image: url("images/wood.png");
    background-size: cover;
}

.l4, .l5 {
    background-color: lightblue;
}

.frog {
    background-image: url("images/frog.png");
    background-size: cover;
}

footer {
    font-size: 8px;
}